body {
  background-color: lightblue;
  font-family: 'Times New Roman', Times, serif;
  margin: 50px;
  color: #222142;
}

h1, h2, h3, h4 {
  color: #1a5276;
  text-align: center;
}

p {
  background-color: white;
  border: 7px solid #1a5276;
  border-radius: 8px;
  margin: 20px auto;
  text_align: center;
  font-size: 16px;
}
