body {
  background-color: lightblue;
  font-family: 'Times New Roman', Times, serif;
  margin: 50px;
  color: #222142;
  background: linear-gradient(to bottom right, #b3e5fc, #ffffff);
}

header, footer {
text-align: center;
  .fade-in {
  animation: fadeIn 2s ease-in-out;
  }
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
  }
}

h1, h2, h3 {
  color: #1a5276;
  text-align: center;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

p {
  background-color: white;
  border: 4px solid #1a5276;
  border-radius: 8px;
  margin: 20px auto;
  text-align: center;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
