body {
  background-color: lightblue;
  font-family: 'Times New Roman', Times, serif;
  margin: 50px;
  color: #020073;
}

h1, h2, h3, h4 {
  color: #1a5276;
  text-align: center;
  text-shadow: 1px 1px 2px #ccc;
}

p {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 20px auto;
  font-size: 16px;
}